.container{
    width: 318px;
    height: 400px;
   
}
.img {
  width: 318px;
  height: 350px;
  gap:20px;
  object-fit: cover;
}
.h3 {
  color: #000;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
  letter-spacing: 0.54px;
  text-align: center;
  height: 23px;
  margin-top:20px;
}
