.container {
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  margin: 0 auto;
  padding: 48px 32px 61px 32px;
}
.basketContent {
  display: flex;
  flex-direction: column;
}
.basketDetail {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.h2 {
  color: #000;
  font-family: Montserrat;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%; /* 52px */
  letter-spacing: 1.2px;
  margin-bottom: 85px;
}
.backToStore {
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-bottom: 35px;
  color: #000;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%; 
}
@media (max-width: 968px) {
.basketDetail {
  flex-direction: column;
  align-items: center;
}
}
