.gridContainer {
  display: grid;
  grid-template-columns: 27% auto 25% 30px;
  align-items: center;
  gap: 10px;
  padding: 10px;
}

.img {
  width: 192px;
  height: 166px;
  border-radius: 5%;
  grid-column: 1 / span 1;
}
.counter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 140px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 12px;
  border: 1px solid #000;
}
.buttonCounter {
  border: none;
  background-color: transparent;
  width: 40px;
  height: 100%;
  border-radius: 12px;
  
}
.buttonDelete {
  border: none;
  background-color: transparent;
  width: 30px;
  height: 100%;
  border-radius: 12px;
  grid-column: 4 / span 1;
  display: flex;
  justify-content: flex-start;
}
.buttonCounter:hover {
  background-color: #f2f2f2;
}
.buttonCounter:active {
  background-color: #e6e6e6;
}
.buttonCounter:focus {
  outline: none;
}
.quantity {
  color: #000;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
  letter-spacing: 0.54px;
}

.column2 {
  height: 100%;
  grid-column: 2 / span 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: 318px;
}

.column3 {
  grid-column: 3 / span 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.bigPrice {
  color: #000;
  font-family: Montserrat;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
  letter-spacing: 1.2px;
}
.smallPrice {
  color: #8b8b8b;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%; 
  letter-spacing: 0.6px;
  text-decoration-line: line-through;
}
